POSTGRES_DB=no23db
POSTGRES_USER=no23
POSTGRES_PASSWORD=change_me

Iyzico__Enabled=
Iyzico__BaseUrl=
Iyzico__ApiKey=
Iyzico__SecretKey=
Iyzico__CallbackUrl=
Iyzico__Currency=
Iyzico__Locale=
Iyzico__EnabledInstallments__0=
Iyzico__SandboxBuyerIdentityNumber=